<section class="pt-10 brands">
  <div class="max-w-7xl mx-auto px-2">
    <div class="splide" id="section-{{sectionId}}">
      <div class="splide__arrows">
        <button aria-label="prev" class="splide__arrow splide__arrow--prev !-right-px !w-[24px] lg:!w-[30px] bg-[#d6d6d6] !rounded !p-1.5">
        <svg class="flickity-button-icon text-primary h-4" fill="currentColor" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg>
        </button>
        <button aria-label="next" class="splide__arrow splide__arrow--next !-left-px !w-[24px] lg:!w-[30px] bg-[#d6d6d6] !rounded !p-1.5">
        <svg class="flickity-button-icon text-primary h-4" fill="currentColor" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg>
        </button>
      </div>
      <div class="splide__track">
        <ul class="splide__list h-auto">
        {% for item in settings.brand_list %}
          <li class="splide__slide">
            <a href="{{ item.url ? item.url : '/'}}" class="lg:p-8 p-4 flex justify-center items-center">
              <img src="{{ item.image }}" alt="" loading="lazy" class="object-contain">
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    new Splide(document.getElementById('section-{{sectionId}}'), {
	    type   : 'slide',
		  direction: 'rtl',
		  perPage: 6,
      autoplay: true,
      perMove:1,
		  arrows: true,
		  pagination: false,
		  breakpoints: {
			720: {
				perPage: 3,
        arrows: false,
			},
      991: {
				perPage: 4,
			}
		}
  }).mount();
  });
</script>

{% schema %}
{
  "name": {
    "ar": "الماركات",
    "en": "brands"
  },
  "icon": "fal fa-cabinet-filing",
  "display": true,
  "settings": {
    "title": {
      "type": "text",
      "label": {
        "ar": "العنوان",
        "en": "text"
      }
    },
    "brand": {
      "type": "fieldset",
      "label": {
        "ar": "الماركة",
        "en": "brand"
      },
      "settings": {
        "list": {
          "type": "list",
          "noLabel": true,
          "settings": {
            "url": {
              "type": "url",
              "label": {
                "ar": "الرابط",
                "en": "link"
              }
            },
            "image": {
              "type": "image",
              "label": {
                "ar": "الصورة",
                "en": "Image"
              },
              "info": {
                "ar": "",
                "en": ""
              }
            }
          }
        }
      }
    }
  }
}
{% endschema %}
