{% extends "layout.twig" %}

{% block title %} {{ locals.home.home_title }} {% endblock %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block main_content %}

    <div class="main">
      {{ home_template_modules }}
    </div>

{% endblock %}

{% block footer %} {{ include('footer.twig') }} {% endblock %}